@keyframes logo-hovers {
  from {
    background-image: linear-gradient(to right, white 50%, brown 50%);
    /* Initially, set the gradient to be white on the left and brown on the right */
  }

  to {
    background-image: linear-gradient(to right, brown 50%, white 50%);
    /* Transition to brown on the left and white on the right */
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: f-r;
  background-color: var(--low-beige);
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  background: linear-gradient(60deg, #c7a380, #bd9686);
  align-items: center;
}

header .header-div {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .header-div .logo {
  font-family: f-b;
  font-size: 2em;
  text-decoration: none;
  background: white;
  background-clip: text;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-position 500ms ease, color 500ms ease;
}

header .header-div .logo:hover {
  background-position: 100% 0;
  color: var(--dark-brown);
}

header .header-div .nav {
  font-family: f-m;
  font-size: 1em;
  align-items: center;
  display: flex;
}

header .header-div .nav a {
  text-decoration: none;
  color: white;
  transition: 300ms;
}

header .header-div .nav .btn-me {
  padding: 5px 5px 5px 15px;
  background-color: var(--dark-brown);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  width: 100px;
}

header .header-div .nav .btn-me:hover {
  background-color: var(--low-beige);
  outline: 1px solid var(--dark-brown);
}

header .header-div .nav .btn-me .acnt-img {
  width: 25px;
  height: 25px;
  margin-right: 0;
  background-color: white;
  border-radius: 50%;
  background-image: url("../images/user.jpg");
  background-size: cover;
}

header .header-div .nav .btn-home,
header .header-div .nav .btn-doctors,
header .header-div .nav .btn-plans {
  margin-right: 30px;
}

header .header-div .nav a:hover {
  color: var(--dark-brown);
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 2;
  position: relative;
  padding: 15px;
}

.burger-menu div {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 2px 0;
}

@media (max-width: 768px) {
  header .header-div .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    z-index: 1;
  }

  header .header-div .nav.show {
    display: flex;
  }

  header .header-div .nav a {
    width: 100%;
  }

  header .header-div .nav .btn-home,
  header .header-div .nav .btn-doctors {
    margin-right: 0;
  }

  .burger-menu {
    display: flex;
    position: relative;
  }

  body.show-nav .nav {
    display: flex;
  }
}